<h1>Игра в 15</h1>

<button class="btn btn-primary new-game" (click)="newGame()">Новая игра</button>

<div class="game-grid">
    <div
        class="game-cell"
        *ngFor="let cellValue of cellList; let cellIdx = index"
        [ngClass]="{ movable: !isMidvyMove() && canMoveCell(cellIdx) >= 0, empty: cellValue === cellList.length && !isMidvyMove() }"
        [style.background]="'url(' + bgUrl + ') ' + bgWidth(cellValue) + '% ' + bgHeight(cellValue)+ '%'"
        (click)="!isMidvyMove() && moveCell(cellIdx) && showIfMidvyMove()"
    >
    </div>
</div>

<ng-template #victoryTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">🏆 Победа 🏆</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Повторим? 🤪
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary text-capitalize" (click)="modalRef?.hide();newGame()">да</button>
  </div>
</ng-template>